 <main class="ms-firstrun-value">
        <section class="ms-firstrun-value__header ms-bgColor-themePrimary">
            <div class="ms-firstrun-value__logo">
                <img src="/assets/img/icon80.png" />
            </div>
            <div class="ms-firstrun-value__title">
                <h1 class="ms-font-xl ms-fontWeight-light ms-fontColor-white">WELCOME</h1>
            </div>
            <div class="ms-firstrun-value__subtitle ms-font-m ms-fontWeight-light ms-fontColor-white">
                <p>This addin helps you book placeholders in your calendar for transportation to offsite meetings</p>
            </div>
        </section>
        <section class="ms-firstrun-value__content">
            <div class="ms-font-m ms-fontColor-themePrimary ms-firstrun-value__content--centered">
                <ul class="ms-firstrun-value__list ms-fontWeight-regular">
                    <li><span><i class="ms-Icon enlarge ms-Icon--Car"></i>Less time wasted on transportation</span></li>
                    <li><span><i class="ms-Icon enlarge ms-Icon--Clock"></i>Be on time</span></li>
                    <li><span><i class="ms-Icon enlarge ms-Icon--DateTime"></i>Avoid double bookings</span></li>
                        <li><span><i class="ms-Icon enlarge ms-Icon--Emoji2"></i>Easy to use</span></li>
                </ul>
                <button (click)="next()" class="ms-firstrun-value__action--primary ms-bgColor-themePrimary ms-Button ms-Button--command ms-fontColor-white ms-font-m">
                    <span class="ms-Button-label">Get Started!</span>
                    <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--chevronThickRight"></i></span>
                </button>
            </div>
        </section>
    </main>